<div class="card" style="width: 18rem;">

  <img src="../../assets/end.png" class="card-img-top">

  <div class="card-body">

    <h5 class="card-title">End</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Estudante de D.S - Desenhista</h6>
    <p class="card-text">Amo comer pão</p>

    <a href="https://www.instagram.com/breadtheend/" class="card-link">Instagram</a>
    <a href="#" class="card-link">Twitter</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../../assets/gagab.png" class="card-img-top" >

  <div class="card-body">

    <h5 class="card-title">Gabs</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Estudante de D.S - Designer Digital</h6>
    <p class="card-text">Muito very le'gal</p>

    <a href="https://www.instagram.com/kiwii.stk/" class="card-link">Instagram</a>
    <a href="#" class="card-link">Github</a>
  </div>
</div>

<br>
